*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-notifications {
  height: 20vh;
}

.App {
  height: 80vh
}

.App-header{
  display: flex;
  border-bottom: #e0003c solid .4vh;
  height: 20vh;
}

.App-header img{
  width: 200px;
}
.App-header h1{
  display: flex;
  align-items: center;
  color: #e0003c;
}

.App-body{
  display: flex;
  flex-direction: column;
  padding: 45px;
  gap: 20px;
  height: 50vh;
  border-bottom: #e0003c solid .4vh;
}

.App-body_container{
  display: flex;
  gap: 10px;
}


.App-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 10vh;
}